<div class="d-flex flex-column align-items-center p-4">
    <div class="row d-flex align-items-center">
        <div class="col-3">
            <img src="assets/static/logo.png" alt="logo" id="logo">
        </div>
        <div class="col-9">
            <h2>Bem-Vindo(a) ao Nosso Site</h2>
        </div>
    </div>
    <div class="row">
        <h4>O menu acima oferece as opções de operações da aplicação</h4>
    </div>
    <div class="row mt-5">
        <h5>Imóveis já negociados por nossos corretores</h5>
    </div>

    <div class="row">
        <div class="col">
            <figure>
                <img src="assets/static/casa1.png" alt="img1">
                <figcaption>Casa na Barra da Tijuca</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure>
                <img src="assets/static/sala_comercial1.jpg" alt="img2">
                <figcaption>Sala Comercial na Avenida Paulista</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure>
                <img src="assets/static/sítio1.jpg" alt="img3">
                <figcaption>Sítio em Atibaia</figcaption>
            </figure>
        </div>
    </div>

</div>