<div class="d-flex flex-column align-items-center p-4">

    <h2>Cadastro de Venda</h2>

    <div class="d-flex flex-column w-75 my-5 p-5 rounded shadow bg-dark text-white">
        <div class="row mb-4">
            <div class="col">
                <label class="form-label">Comprador</label>
                <input class="form-control" [(ngModel)]="venda.comprador">
            </div>

            <div class="col">
                <label class="form-label">Valor da venda</label>
                <input class="form-control" [(ngModel)]="venda.valorVenda">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label class="form-label">Data de venda</label>
                <input class="form-control" placeholder="dd/mm/aaaa" [(ngModel)]="venda.dataVenda">
            </div>

            <div class="col">
                <label class="form-label">CRECI do corretor</label>
                <input class="form-control" [(ngModel)]="venda.corretor">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label class="form-label">Codigo do imovel vendido</label>
                <input class="form-control" [(ngModel)]="venda.CodigoImovel">
            </div>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="row w-50">
                <button type="button" class="btn btn-light" (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>

</div>